version: '2'
services:
  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    volumes:
      - dot-stack-work:/root/build/.stack-work
      - dot-stack:/root/.stack

volumes:
  dot-stack-work:
  dot-stack:
